<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="user" type="dk.lundogbendsen.examples.knowspring.jpa.model.User"-->
<!--*/-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>
<h1 th:text="'Welcome ' + ${form.user.ip}">Welcome IP</h1>
<p>Lets see how well you know the following Spring annotations</p>
<ol>
    <li>1: Never heard about it.</li>
    <li>2: Seen it but never used it.</li>
    <li>3: Used it a little.</li>
    <li>4: Used it a lot.</li>
    <li>5: Have read the spring source code that use this.</li>
</ol>

<form th:action="@{/}" th:object="${form}" method="post">
<table class="table table-striped">
    <thead>
    <th>Question</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    </thead>
    <tr>
    <tr th:each="row, itr : *{rows}">
        <td th:text="${row.question}"></td>
    <td><input type="radio" th:field="*{rows[__${itr.index}__].answer}" value="1"></td>
    <td><input type="radio" th:field="*{rows[__${itr.index}__].answer}" value="2"></td>
    <td><input type="radio" th:field="*{rows[__${itr.index}__].answer}" value="3"></td>
    <td><input type="radio" th:field="*{rows[__${itr.index}__].answer}" value="4"></td>
    <td><input type="radio" th:field="*{rows[__${itr.index}__].answer}" value="5"></td>
    </tr>
</table>
    <input class="btn btn-primary" type="submit" value="Submit answers">

</form>



</body>
</html>