<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="user" type="dk.lundogbendsen.examples.knowspring.jpa.model.User"-->
<!--*/-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>

<h1> Average</h1>

<table class="table table-striped">
    <thead>
    <th>question</th>
    <th>average</th>
    </thead>
    <tr>
    <tr th:each="row : ${rows}">
        <td th:text="${row.question}"></td>
        <td th:text="${row.answerAverage}"></td>
    </tr>
</table>


</body>
</html>